<p id="notice"><%= notice %></p>
<div class="jumbotron text-center" >
<h1>Eventos</h1>

<% @events.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |event| %>
      <div class="col-md-4">
    
        <%= image_tag event.picture_url, width: '100%' if event.picture.present? %>
        <h4><%= link_to event.title, event %></h4>
      </div>
    <% end %>
  </div>
<% end %>
</div>
