<!DOCTYPE html>
<html lang = "pt-br">
<head>
 <meta charset = "utf-8"/>
 <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>Adotefga</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar navbar-light", style="background-color: #4B0082;">
  <div class="container">
  <div class "navbar-header">
  <a class="navbar-brand pull-right"><a class="navbar-brand" href="#">
  <img src="https://t4.ftcdn.net/jpg/02/10/08/03/500_F_210080316_PkgWpFfNOg7aoTo6lRnwk2vb9JuZMjdb.jpg" width="120" height="120" >
</a>

    <a class="navbar-brand nav-link" href="/">Adote FGA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/posts">Posts</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/events">Eventos</a>
        </li>
        <li class="nav-item">
          <%= link_to 'Novo Post', new_post_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Novo Evento', new_event_path, class: "nav-link" %>
        </li>
      </ul>
      <li class="nav-item">
        <div id="calendar"></div>
      </li>
     
  <form class="form-inline">
    <%= form_tag(posts_path, :method => :get) do %>
        <input class = "form-control mr-sm-2" <%= text_field_tag 'search', nil, placeholder: 'pesquisar' %>
        
        <%= submit_tag 'pesquisar', :class => "btn btn-outline-success my-2 my-sm-0" %>
        <% end %>
  </form>

    </div>
    </ul>
  </div>
  <ul class="navbar-nav mr-auto">

    <li class="nav-item">
         <% if user_signed_in? %><p><%= image_tag current_user.gravatar_url, :class => "gravatar" %><a class="nav-link text-white" rel="nofollow" data-method="DELETE" href="/users/sign_out">Sair</a></p>
         <%else%><a class="nav-link text-white" href="/users/sign_in">Entrar</a>
           <%end %>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <%= yield %>
  
</div>
<footer>
  <div class="container">
    Universidade de Brasília - Campus Gama <%= Time.now.year %>
  </div>
</footer>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

</body>
</html>
